@keyframes flamingo {
  0% {
    opacity: 0;
    transform: translate(-5em, 20em) rotate(-20deg);
  }

  5% {
    opacity: 1;
    transform: translate(-5em, 8em);
  }

  25% {
    transform: translate(-5em, 7em) rotate(-6deg);
  }

  50% {
    transform: translate(-5em, 7.3em);
  }

  75% {
    transform: translate(-5em, 7.2em) rotate(-6deg);
  }

  100% {
    transform: translate(-5em, 7em);
  }
}

@keyframes flamingoMobile {
  0% {
    opacity: 0;
    transform: translate(-2em, 20em) rotate(-20deg);
  }

  5% {
    opacity: 1;
    transform: translate(-2em, 8em);
  }

  25% {
    transform: translate(-2em, 7em) rotate(-6deg);
  }

  50% {
    transform: translate(-2em, 7.3em);
  }

  75% {
    transform: translate(-2em, 7.2em) rotate(-6deg);
  }

  100% {
    transform: translate(-2em, 7em);
  }
}

@keyframes suitcase {
  0% {
    transform: translate(0, 20em) scale(0.2);
  }

  50%{
    transform: translate(0, 2.5em);
  }

  100% {
    transform: translate(0, 4.5em);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leafRight {
  0% {
    transform: translate(11em, 0) rotate(-12deg);
  }

  15% {
    transform: translate(11em, 0) rotate(10deg);
  }

  33% {
    transform: translate(11em, 0) rotate(-8deg);
  }

  50% {
    transform: translate(11em, 0) rotate(6deg);
  }

  67% {
    transform: translate(11em, 0) rotate(-4deg);
  }

  85% {
    transform: translate(11em, 0) rotate(2deg);
  }

  100% {
    transform: translate(11em, 0) rotate(0deg);
  }
}

@keyframes leafRightMobile {
  0% {
    transform: translate(6em, 3rem) rotate(-12deg);
  }

  15% {
    transform: translate(6em, 3rem) rotate(10deg);
  }

  33% {
    transform: translate(6em, 3rem) rotate(-8deg);
  }

  50% {
    transform: translate(6em, 3rem) rotate(6deg);
  }

  67% {
    transform: translate(6em, 3rem) rotate(-4deg);
  }

  85% {
    transform: translate(6em, 3rem) rotate(2deg);
  }

  100% {
    transform: translate(6em, 3rem) rotate(0deg);
  }
}

@keyframes leafLeft {
  0% {
    transform: translate(-10em, 7.5em) rotate(30deg);
  }

  15% {
    transform: translate(-10em, 7.5em) rotate(-15deg);
  }

  33% {
    transform: translate(-10em, 7.5em) rotate(20deg);
  }

  50% {
    transform: translate(-10em, 7.5em) rotate(-10deg);
  }

  67% {
    transform: translate(-10em, 7.5em) rotate(10deg);
  }

  85% {
    transform: translate(-10em, 7.5em) rotate(-2deg);
  }

  100% {
    transform: translate(-10em, 7.5em) rotate(0deg);
  }
}

@keyframes leafLeftMobile {
  0% {
    transform: translate(-5.3em, 7em) rotate(30deg);
  }

  15% {
    transform: translate(-5.3em, 7em) rotate(-15deg);
  }

  33% {
    transform: translate(-5.3em, 7em) rotate(20deg);
  }

  50% {
    transform: translate(-5.3em, 7em) rotate(-10deg);
  }

  67% {
    transform: translate(-5.3em, 7em) rotate(10deg);
  }

  85% {
    transform: translate(-5.3em, 7em) rotate(-2deg);
  }

  100% {
    transform: translate(-5.3em, 7em) rotate(0deg);
  }
}

@keyframes leafGreen {
  0% {
    transform: translate(11em, 7em) rotate(-15deg);
  }

  15% {
    transform: translate(11em, 7em) rotate(19deg);
  }

  33% {
    transform: translate(11em, 7em) rotate(-6deg);
  }

  50% {
    transform: translate(11em, 7em) rotate(6deg);
  }

  67% {
    transform: translate(11em, 7em) rotate(-4deg);
  }

  85% {
    transform: translate(11em, 7em) rotate(2deg);
  }

  100% {
    transform: translate(11em, 7em) rotate(0deg);
  }
}

@keyframes leafGreenMobile {
  0% {
    transform: translate(5.8em, 7em) rotate(-15deg);
  }

  15% {
    transform: translate(5.8em, 7em) rotate(19deg);
  }

  33% {
    transform: translate(5.8em, 7em) rotate(-6deg);
  }

  50% {
    transform: translate(5.8em, 7em) rotate(6deg);
  }

  67% {
    transform: translate(5.8em, 7em) rotate(-4deg);
  }

  85% {
    transform: translate(5.8em, 7em) rotate(2deg);
  }

  100% {
    transform: translate(5.8em, 7em) rotate(0deg);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes fade-text {
  from {
    color: transparent;
  }
  to {
    color: $c-dark;
  }
}

@keyframes width {
  from {
    width: 33%;
  }
  to {
    width: 100%;
  }
}

@keyframes widthForm {
  from {
    width: 5%;
  }
  to {
    width: 100%;
  }
}
